* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color:#e5883b;;
  font-family: "Open Sans", sans-serif;
  background-color: #13171e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 880px;
  background: url('https://cdn1.epicgames.com/salesEvent/salesEvent/EGS_STALKER2HeartofChernobyl_GSCGameWorld_S1_2560x1440-34cdfe8a4a37b5c2dc4bf3fe1d943c95');
}
.timer {
  padding: 20px;
  text-align: center;
  background-color: #000000a8;
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff9966), to(#ff5e62));
  background: linear-gradient(to bottom, #ff9966, #ff5e62);
  border-radius: 20px;
  border: transparent;
}
